.PageWrapper {
    position: relative;
    padding: 10px;
    background-image: url("https://mk-static-production.lesta.ru/wowsp/f3f4316c/browserAssets/img/bckg_texture.jpg");
    background-color: rgb(1, 10, 25);
    //min-height: 1000px;
    overflow-y: hidden;

}

