.PageWrapper{
    position: relative;
    padding: 10px;
    background-image: url("https://mk-static-production.lesta.ru/wowsp/f3f4316c/browserAssets/img/bckg_texture.jpg");
    min-height: 1000px;

}

